body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}
.header-nav  {
  margin: 0;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-position:bottom;
  overflow: hidden;
  height: 80vh;
  list-style: none;
  background-image: url('https://res.cloudinary.com/dbv6dgwez/image/upload/v1684846613/RickMorty/r_m_wallpaper_bukdib.jpg');
}
.header-nav h1{
  color: aliceblue;
  margin: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
}

.header-nav a {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

.header-nav a.active {
  color: whitesmoke;
  background-color: #999;
  padding: 5px;
  list-style: none;
  text-decoration: none;
}

.site-footer {
  margin-top: 1rem;
  border-top: 1px dotted #adadad;
  text-align: center;
  color: #999;
  font-size: 0.75rem;
}

/* home page */

.img-card{
  width: 15rem !important;
}
.img-card:hover {
  box-shadow: 2px 2px 4px #4d4c4cb8;
  
}

.name-character {
text-decoration: none !important;
color: rgb(144, 0, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buscador{
  display: flex;
  width: fit-content;
}

/* Character styles  */

.profile {
  display: flex;
  margin-top: 2em;
}

@media (max-width: 740px) {
  .profile {
    flex-direction: column;
  }
  .header-nav h1{
font-size: 1.2rem;
margin: 0;
  }
  .header-nav a{
    font-size: 1rem;
      }
}
.profile-image {
  margin-right: 2em;
}
@media (max-width: 600px) {
  .profile-image {
    max-width: 100%;
    margin: 0 auto;
  }
}
